{{ form_start(form) }}
    {{ form_errors(form) }}
        <div class="col-12">
            {{ form_row(form.name) }}
        </div>
        <div class="col-12">
            {{ form_row(form.categories) }}
        </div>
        <div class="col-12">
            {{ form_row(form.canBeLoaned) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
        <div class="col-12">
            {{ form_row(form.imagePath) }}
        </div>
        {{ form_row(form.submit, { 'label': 'Enregistrer' }) }}
{{ form_end(form) }}
