{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs{% endblock %}
{% block headerLogged %} {% endblock %}

{% block navbarLogged %} {% endblock %}

{% block body %}
    <h1>Tous les utilisateurs</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Password</th>
                    <th scope="col">FirstName</th>
                    <th scope="col">LastName</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr scope="row">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.entreprise }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div>
            <button type="button" id="newUser" name="newUser" title="newUser" class="btn btn-info" onclick="window.location.href = '{{ path('app_user_new') }}';">
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un nouvel utilisateur
            </button>
        </div>
{% endblock %}
{% block footer %} {% endblock %}
