{% extends 'base.html.twig' %}

{% block title %} Utilisateur {% endblock %}
{% block headerLogged %} {% endblock %}

{% block navbarLogged %} {% endblock %}

{% block body %}
    <h1>Utilisateur {{ user.firstname }} - {{ user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ user.entreprise }}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button type="button" id="newUser" name="newUser" title="newUser" class="btn btn-info" onclick="window.location.href = '{{ path('app_user_edit', {'id': user.id}) }}';">
             Editer l'utilisateur
        </button>
    </div>
    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
{% block footer %} {% endblock %}